.gts-admin-container{
    justify-content: center;
    padding: 1rem;

}

.gts-side-menu{
    background-color: #539EAF;
    margin-left: 1rem;
    text-align: center;
    padding: 2rem;
    padding-left: 5rem;
}



input.gts-menu-admin{
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #116A7B;
    height: 4rem;
}

input.gts-menu-admin:hover{
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #116A7B;
    height: 4rem;
    
}
input.gts-menu-admin1{
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #324A51;
    height: 4rem;
}

input.gts-menu-admin1:hover{
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #324A51;
    height: 4rem;
    
}

.gts-logo{
    padding-top:1rem ;
    margin-bottom: 4rem;
    width: 15rem;
}
.gts-container-btn {
    background-color: #116A7B;
    margin-bottom: 1rem;
    height: 7rem;
    padding: 1rem;
    margin-right: 2rem;
}
.gts-container-btn1 {
    background-color: #324A51;
    padding-right: 7rem;
    margin-bottom: 1rem;
    height: 7rem;
    padding: 1rem;
    margin-right: 1rem;
}

img.img1{
    margin-top: 0.5rem;
}

.gts-main{
    
}
.gts-avatar{
    margin-right: 2rem;
    background-color: #116A7B;
    width: 5rem;
}


.gts-container-avatar{
    background: #116A7B;
    width: 5rem;
}

.gts-container-avatar{
    background: #116A7B;
    width: auto;
}

a.ini-txt-avatar{
    color: white;
}

input.btn-logout{
    color: white;
    background: red;
}
input.btn-logout:hover{
    color: white;
    background: red;
}

.formadd-barang{
    border: 2px solid #116A7B;
    border-radius: 10px 10px 10px 10px;
    width: 44rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
}
.formadd-barang1{
    border: 2px solid #116A7B;
    border-radius: 10px 10px 10px 10px;
    width: 44rem;
    height: 4.2rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.gts-formadd-container{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}